<div class="content">
    <h1>Gerenciamento de Agendamento de Consultas</h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>CPF</th>
                <th>Médico</th>
                <th>CRM</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let scheduling of listScheduling; let i = index">
                <tr>
                    <td>{{ scheduling.person.name }}</td>
                    <td>{{ scheduling.person.cpf }}</td>
                    <td>{{ scheduling.doctor.name }}</td>
                    <td>{{ scheduling.doctor.crm }}</td>
                    <td>{{ formattedDate(scheduling.appointmentDate) }}</td>
                    <td>{{ formattedTime(scheduling.appointmentTime) }}</td>
                    <td>
                        <span class="status-dot" [ngClass]="{'status-dot-green': scheduling.status === 'CONCLUIDO', 'status-dot-orange': scheduling.status === 'AGENDADO', 'status-dot-red': scheduling.status === 'CANCELADO'}"></span>

                        <span *ngIf="!editStates[i]">{{ formattedStatus(scheduling.status) }}</span>
                        <select *ngIf="editStates[i]" [(ngModel)]="scheduling.status">
                            <option value="AGENDADO" [selected]="scheduling.status === 'AGENDADO'">Agendado</option>
                            <option value="CONCLUIDO" [selected]="scheduling.status === 'CONCLUIDO'">Concluido</option>
                            <option value="CANCELADO" [selected]="scheduling.status === 'CANCELADO'">Cancelado</option>
                        </select>
                        <i class="fas fa-times " (click)="cancel(i)" *ngIf="editStates[i]"></i>
                        <i class="fas fa-check " (click)="confirm(i)" *ngIf="editStates[i]"></i>
                        <i class="fas fa-pencil-alt " (click)="edit(i)" *ngIf="!editStates[i]"></i>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>